{% extends 'base.html.twig' %}

{% block body %}
    <div id="game">
        <div class="grid-container">
            <button id="X1" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X2" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X3" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X4" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X5" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X6" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X7" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X8" data-id="{{ game.id }}" class="button" type="button"></button>
            <button id="X9" data-id="{{ game.id }}" class="button" type="button"></button>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <p id="gameResult"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}